@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
	body {
		@apply h-full antialiased dark:bg-neutral-900 text-neutral-50 text-xl sm:cursor-none;
	}

	a {
		cursor: none;
	}

	.grain::before {
		--grain: url("../../public/before5.webp");
		background: linear-gradient(-45deg, #000000e1, #474747e7),
			var(--grain);
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 6%;
		background-blend-mode: soft-light;
		mix-blend-mode: hue;
		border-radius: 20px;
	}
}

@layer components {
	.bento_cards {
		background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		border-radius: 20px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		box-sizing: border-box;
	}

	.title {
		@apply font-raleway text-white text-[50px] not-italic font-black leading-[normal];
	}
}

@layer cards {
	.purple_mix_card {
		border-radius: 1.25rem;
		border: 1px solid #FFF;
		background: linear-gradient(229deg, rgba(181, 136, 255, 0.20) 12.25%, rgba(136, 255, 234, 0.05) 92.63%, rgba(136, 255, 234, 0.05) 92.63%);
		box-shadow: 0px 4px 15px 0px rgba(153, 153, 153, 0.15);
		backdrop-filter: blur(7.5px);
	}

	.purple_mix_card_light {
		border-radius: 1.25rem;
		border: 1px solid #FFF;
		background: linear-gradient(49deg, rgba(15, 6, 66, 0.699) 12.25%, rgba(84, 0, 87, 0.747) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(24, 24, 24, 0.651);
		backdrop-filter: blur(7.5px);
	}

	.blue_card {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(154, 219, 255, 0.20) -1.12%, rgba(10, 53, 73, 0.281) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(202, 232, 248, 0.15);
		backdrop-filter: blur(7.5px);
	}

	.blue_card_light {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(6, 45, 66, 0.699) 12.25%, rgba(0, 59, 87, 0.747) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(24, 24, 24, 0.651);
		backdrop-filter: blur(7.5px);
	}

	.yellow_card {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(255, 255, 255, 0.20) -1.11%, rgba(214, 206, 11, 0.15) 22.78%, rgba(255, 255, 255, 0.05) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(153, 153, 153, 0.15);
		backdrop-filter: blur(7.5px);
	}

	.yellow_card_light {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(65, 66, 6, 0.699) 12.25%, rgba(87, 71, 0, 0.747) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(24, 24, 24, 0.651);
		backdrop-filter: blur(7.5px);
	}

	.white_card {
		border-radius: 1.25rem;
		border: 1px solid #FFF;
		background: linear-gradient(277deg, rgba(255, 255, 255, 0.20) 5.08%, rgba(255, 255, 255, 0.05) 90.62%);
		box-shadow: 0px 4px 15px 0px rgba(110, 109, 109, 0.63);
		backdrop-filter: blur(7.5px);
	}

	.white_card_light {
		border-radius: 1.25rem;
		border: 1px solid #FFF;
		background: linear-gradient(49deg, rgba(0, 0, 0, 0.589) 12.25%, rgba(22, 22, 22, 0.705) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(24, 24, 24, 0.651);
		backdrop-filter: blur(7.5px);
	}

	.purple_card {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(254, 219, 255, 0.20) -1.11%, rgba(147, 10, 150, 0.10) 31.77%, rgba(69, 195, 255, 0.05) 89.76%, rgba(251, 58, 255, 0.05) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(153, 153, 153, 0.15);
		backdrop-filter: blur(7.5px);
	}

	.green_card {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(111, 255, 255, 0.20) 11.65%, rgba(27, 255, 23, 0.05) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(152, 152, 152, 0.15);
		backdrop-filter: blur(7.5px);
	}

	.online_card {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(65, 228, 79, 0.2) -1.12%, rgba(184, 255, 186, 0.05) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(7.5px);
	}

	.online_card_light {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(6, 66, 9, 0.699) 12.25%, rgba(0, 87, 19, 0.747) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(24, 24, 24, 0.651);
		backdrop-filter: blur(7.5px);
	}

	.offline_card {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(255, 255, 255, 0.20) -1.12%, rgba(255, 255, 255, 0.05) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(153, 153, 153, 0.15);
		backdrop-filter: blur(7.5px);
	}

	.offline_card_light {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(51, 51, 51, 0.699) 12.25%, rgba(73, 73, 73, 0.747) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(24, 24, 24, 0.651);
		backdrop-filter: blur(7.5px);
	}

	.idle_card {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(228, 173, 65, 0.20) -1.12%, rgba(255, 248, 184, 0.05) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(153, 153, 153, 0.15);
		backdrop-filter: blur(7.5px);
	}

	.idle_card_light {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(66, 57, 6, 0.699) 12.25%, rgba(87, 71, 0, 0.747) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(24, 24, 24, 0.651);
		backdrop-filter: blur(7.5px);
	}

	.dnd_card {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(228, 65, 65, 0.20) -1.12%, rgba(255, 184, 184, 0.05) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(153, 153, 153, 0.15);
		backdrop-filter: blur(7.5px);
	}

	.dnd_card_light {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(66, 6, 6, 0.699) 12.25%, rgba(87, 0, 0, 0.747) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(24, 24, 24, 0.651);
		backdrop-filter: blur(7.5px);
	}

	.black_card {
		border-radius: 1.25rem;
		background: linear-gradient(49deg, rgba(12, 28, 29, 0.20) -1.12%, rgba(0, 0, 0, 0.20) -1.11%, rgba(69, 195, 255, 0.05) 89.76%, rgba(0, 0, 0, 0.05) 89.76%);
		box-shadow: 0px 4px 15px 0px rgba(153, 153, 153, 0.15);
		backdrop-filter: blur(7.5px);
	}
}

@layer player {
	.bar {
		width: 12px;
		border-radius: 10px;
		background: none;
		animation: movement 3s infinite alternate;
	}

	@keyframes movement {

		0%,
		100% {
			height: 2px;
		}

		50% {
			height: 24px;
		}
	}

	.bar:nth-child(1) {
		background: #d6d4d1;
		box-shadow: rgb(75, 75, 75) 2px 4px;
		animation-delay: 2s;
	}

	.bar:nth-child(2) {
		background: #dddcda;
		box-shadow: rgb(75, 75, 75) 2px 4px;
		animation-delay: 1.6s;
	}

	.bar:nth-child(3) {
		background: #ffffffb0;
		box-shadow: rgb(75, 75, 75) 2px 4px;
		animation-delay: 1.2s;
	}

	.bar:nth-child(4) {
		background: #bdbcbb;
		box-shadow: rgb(75, 75, 75) 2px 4px;
		animation-delay: .8s;
	}

	.bar:nth-child(5) {
		background: #fdf5ecb0;
		box-shadow: rgb(75, 75, 75) 2px 4px;
		animation-delay: .4s;

	}

	.bar:nth-child(6) {
		background: #fdf5ecda;
		box-shadow: rgb(75, 75, 75) 2px 4px;
		animation-delay: .8s;
	}

	.bar:nth-child(7) {
		background: #fdf5ec91;
		box-shadow: rgb(75, 75, 75) 2px 4px;
		animation-delay: 1.2s;
	}

	.bar:nth-child(8) {
		background: #fdf5ecd5;
		box-shadow: rgb(75, 75, 75) 2px 4px;
		animation-delay: 1.6s;
	}

	.bar:nth-child(9) {
		background: #fdf5ec9d;
		box-shadow: rgb(75, 75, 75) 2px 4px;
		animation-delay: 2s;
	}

	.bar:nth-child(10) {
		background: #fdf5ecbd;
		box-shadow: rgb(75, 75, 75) 2px 4px;
		animation-delay: 1.6s;
	}

	.pause {
		animation-play-state: paused;
	}

	.play {
		animation-play-state: running;
	}

}

@layer weather {
	.sun {
		width: 80px;
		height: 80px;
		background: #fcdd2e;
		border-radius: 50%;
		animation: shine 16s ease-in-out infinite;
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 100;
		box-shadow: 0 0 20px #ffdd50
	}

	@keyframes shine {
		50% {
			box-shadow: 2px 2px 20px #ffde5c,
				2px 2px 80px #ffdd50,
				2px 2px 350px rgb(255, 252, 80);
		}
	}
}

@layer weather {
	.moon {
		width: 80px;
		height: 80px;
		background: #bbb084;
		border-radius: 50%;
		animation: shine 16s ease-in-out infinite;
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 100;
		box-shadow: 0 0 20px #c4e0ff
	}

	@keyframes shine {
		50% {
			box-shadow: 0 0 20px #e7d99f,
				0 0 80px rgb(245, 231, 178)
		}
	}
}

@layer mlbb {
	.wrapper {
		display: grid;
		place-content: center;
		background-color: var(--background-color);
		font-family: "Oswald", sans-serif;
		font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
		font-weight: 700;
		text-transform: uppercase;
		color: var(--text-color);
	}

	.wrapper>div {
		transform: rotate(-20deg);
		grid-area: 1/1/-1/-1;
	}

	.top {
		clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
	}

	.bottom {
		clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
		color: #d8dbdd;
		background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
		background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
		background-clip: text;
		-webkit-background-clip: text;
		transform: translateX(-0.02em);
	}

	.beatrix {
		animation: shine 3s infinite alternate;
	}

	@keyframes shine {
		0% {
			filter: drop-shadow(2px -8px 2px #15a89cc0);
		}

		50% {
			filter: drop-shadow(2px -8px 2px #b66e1baf);
		}

		100% {
			filter: drop-shadow(2px -8px 2px #8b438bde);
		}
	}

}

@layer pointer {
	.pointer {
		height: 40px;
		width: 40px;
		background-color: white;
		border-radius: 40px;
		position: fixed;
		left: 5px;
		top: 5px;
		z-index: 10;
		transition: all 550ms linear;

		pointer-events: none;
		opacity: 0;
		transition: opacity 500ms ease;
		mix-blend-mode: normal;
	}

	main:hover>.pointer {
		opacity: 1;
	}


	.pointer::before {
		background: linear-gradient(
			130deg,
			transparent 0% 33%,
			rgb(98, 0, 234) 66%,
			rgb(236, 64, 122) 83.5%,
			rgb(253, 216, 53) 100%
		);
		border-radius: 40px;
		background-position: 0% 0%;
		background-size: 300% 300%;
		transition: background-position 1150ms ease;
		content: '';
		height: 100%;
		width: 100%;
		position: fixed;

	}

	.pointer:is(.colorActive) {
		height: 85px;
		width: 85px;
		left: -20px;
		top: -20px;
		transition: all 550ms linear;
	}
	.pointer:is(.colorNotActive) {
		height: 40px;
		width: 40px;
		transition: all 550ms linear;
		left: 5px;
		top: 5px;
	}

	.pointer:is(.colorActive)::before {
		background-position: 100% 100%;
		transform: scale(1.08, 1.03);
		animation: shine 3s infinite alternate;
		transition: background-position 1150ms ease;
	}

	.smallPointer {
		height: 10px;
		width: 10px;
		background-color: #fe3f80;
		border-radius: 20px;
		position: fixed;
		left: 0px;
		top: 0px;
		z-index: 200;

		pointer-events: none;
		opacity: 0;
		transition: opacity 500ms ease;
	}

	main:hover>.smallPointer {
		opacity: 1;
	}

	@keyframes shine {
		0% {
			filter: drop-shadow(6px -8px 6px rgb(253, 216, 53) 100%);
		}

		50% {
			filter: drop-shadow(6px -8px 6px rgb(236, 64, 122) 83.5%);
		}

		100% {
			filter: drop-shadow(6px -8px 6px rgb(98, 0, 234) 66%);
		}
	}

	@media (max-width: 640px) {
		.pointer {
			display: none;
		}
		.smallPointer {
			display: none;
		}
	}
}

@layer projects {
	.customUnderline {
		filter: drop-shadow(5px 5px 5px black);
		background-image: linear-gradient(90deg, #8135c0, #f02dc6);
		background-position: bottom right;
		background-size: 70% 40%;
		background-repeat: no-repeat;
	}

	.customUnderline2 {
		background-image: linear-gradient(90deg, #8135c0, #f02dc6);
		background-position: bottom right;
		background-size: 70% 40%;
		background-repeat: no-repeat;
	}
}
